## Copyright 2009-2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
## Specifying an encoding of UTF-8 is usually safe, but if the text is actually
## in Latin-1, then you should replace the string "UTF-8" with "latin-1".  If
## you do this, you should also change the charset in 'Content-Type' as well.
#encoding UTF-8
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="900">
    <title>$station.location Environmental Stats</title>
    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="../standard.js"></script>
  </head>

  <body onload="setup();">
    #include "inc/titlebar.inc"
    <div id="contents">
      <p><a href="../index.html">&#10096; Current Conditions</a></p>
      <div id="widget_group">
        #if $current.UV.raw >= 2.5
            #include "sunsmart.inc"
        #end if
        #include "inc/about.inc"
        #include "inc/blitzortung.inc"
        #include "inc/current.inc"
        #include "inc/cfaforecast.inc"
        #include "inc/rainforecast.inc"
        #include "inc/linkswxobs.inc"
        #include "inc/links.inc"
        #include "inc/radar.inc"
        #include "inc/satellite.inc"
        #include "inc/sunmoon.inc"
        #include "inc/sensors.inc"
        #include "inc/hilo.inc"
        #include "inc/map.inc"
        #include "inc/sqlbackup.inc"
      </div>
      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">History:&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <!-- a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a -->
          </div>
          <div id="history_day" class="plot_container">
                 <!-- $uvolt -->
                 <!-- $ucpm -->
                 <!-- $utemp -->
                 <!-- $rad_addr -->

            <img src="dayvolt.png"       alt="$obs.label.volt" />
            <img src="daycpm.png"  alt="$obs.label.barometer"/>
            <img src="daytemp.png"    alt="$obs.label.outTemp" />
            <img src="dayhum.png"    alt="$obs.label.outHumidity" />
            <img src="daypressure.png"   alt="$obs.label.barometer" />
            <img src="dayvoc.png"        alt="$obs.label.outHumidity" />
            <img src="dayco2.png"       alt="$obs.label.windSpeed" />
            <img src="daych20.png"    alt="$obs.label.windDir" />
            <img src="daypm25.png"    alt="$obs.label.windvec" />
          </div>
          <div id="history_week" class="plot_container" style="display:none">
          </div>
          <div id="history_month" class="plot_container" style="display:none">
            #if $month.rxCheckPercent.has_data
            <img src="monthrx.png"        alt="$obs.label.rxCheckPercent"/>
            #end if
          </div>
          <div id="history_year" class="plot_container" style="display:none">
            #if $year.rxCheckPercent.has_data
            <img src="yearrx.png"         alt="$obs.label.rxCheckPercent"/>
            #end if
          </div>
          <div id="history_dayrain" class="plot_container" style="display:none">
          </div>
          <div id="history_weekrain" class="plot_container" style="display:none">
          </div>
        </div>
      </div>
    </div>

    <p class="footnote">
      This station uses an $station.hardware to collect data from various one-wire sensors 
      that are connected to a <a href="https://www.raspberrypi.org/help/faqs/">raspberry Pi 2</a> 
      micro computer.<br>
      This data is then collected and displayed by <a href="http://weewx.com/">weeWX</a>, an
      experimental weather software system written in Python.<br>
      This raspberry pi runs with <a href="https://github.com/glennmckechnie/rorpi-raspberrypi"> a read only filesystem</a>
    </p>
    <p class="footnote">
     Radar, satellite, and rain images are courtesy of the Australian Government Bureau of Meteorology, 2017.<br>
     Fire rating image is courtesy of CFA Victoria, 2017
    </p>

    #include "inc/analytics.inc"

</body>

</html>
