## Copyright 2009-2017 Tom Keffer, Matthew Wall
## Distributed under terms of GPLv3.  See LICENSE.txt for your rights.
#errorCatcher Echo
## Specifying an encoding of UTF-8 is usually safe, but if the text is actually
## in Latin-1, then you should replace the string "UTF-8" with "latin-1".  If
## you do this, you should also change the charset in 'Content-Type' as well.
#encoding UTF-8
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- meta http-equiv="refresh" content="900" -->
    <title>$station.location Environmental Stats</title>
    <link rel="icon" type="image/png" href="../favicon.ico" />
    <link rel="stylesheet" type="text/css" href="seasons.css"/>
    <script src="../standard.js"></script>
  </head>

  <body onload="setup();">
      <div id="title_bar">
       <div id="title">
        <h1 class="page_title">$station.location</h1>
        <p class="lastupdate">$current.dateTime</p>
       </div>
      </div>
    <div id="contents">

      <p><a href="../index.html">&#10096; Current Conditions</a></p>
      <div id="widget_group">
        #include "about.inc"
        #include "uradmon.inc"
      </div>
      <div id="plot_group">
        <div id="history_widget" class="widget">
          <div id="plot_title" class="widget_title">uRADMonitor:&nbsp;&nbsp;Environmental&nbsp;&nbsp;(Air quality)&nbsp;&nbsp;history&nbsp;&nbsp;by&nbsp;&nbsp;
            <a class="button_selected" id="button_history_day"
               onclick="choose_history('day')">Day</a>
            <a class="button" id="button_history_week"
               onclick="choose_history('week')">Week</a>
            <a class="button" id="button_history_month"
               onclick="choose_history('month')">Month</a>
            <a class="button" id="button_history_year"
               onclick="choose_history('year')">Year</a>
          </div>
          <div id="history_day" class="plot_container">
            <img src="daycpm.png"  alt="Radiation dosage level" title="Radiation at $latest.ucpm" />
            <img src="dayvoc.png"        alt="Volatile organic compounds"  title="Volatile compounds at $latest.uvoc" />
            <img src="dayco2.png"       alt="Carbon dioxide levels"  title="CO2 at $latest.uco2" />
            <img src="daych20.png"    alt="Formaldehyde Levels"  title="Formaldaheyde at $latest.uch2o" />
            <img src="daypm25.png"    alt="2.5 particulates"  title="Particles at 2,5, $latest.upm25" />
            <img src="dayuptime.png"    alt="uRADMonitor uptime" title="Uptime of $urad_uptime" />
            <img src="dayvolt.png"       alt="uRADMonitor voltage"  title="Voltage of$latest.uvolt" />
            <img src="daytemp.png"    alt="uRADMonitor temperature"  title="Unit temperature of $latest.utemp" />
            <img src="dayhum.png"    alt="uRADMonitor humidity"  title="Unit humidity of $latest.uhum" />
            <img src="daypressure.png"   alt="uRADMonitor pressure"  title="Unit pressue (Pa) of $latest.upres" />
          </div>
          <div id="history_week" class="plot_container" style="display:none">
            <img src="weekcpm.png"  alt="Radiation dosage level"/>
            <img src="weekvoc.png"        alt="Volatile organic compounds" />
            <img src="weekco2.png"       alt="Carbon dioxide levels" />
            <img src="weekch20.png"    alt="Formaldehyde Levels" />
            <img src="weekpm25.png"    alt="2.5 particulates" />
            <img src="weekuptime.png"    alt="uRADMonitor uptime" />
            <img src="weekvolt.png"       alt="uRADMonitor voltage" />
            <img src="weektemp.png"    alt="uRADMonitor temperature" />
            <img src="weekhum.png"    alt="uRADMonitor humidity" />
            <img src="weekpressure.png"   alt="uRADMonitor pressure" />
          </div>
          <div id="history_month" class="plot_container" style="display:none">
            <img src="monthcpm.png"  alt="Radiation dosage level"/>
            <img src="monthvoc.png"        alt="Volatile organic compounds" />
            <img src="monthco2.png"       alt="Carbon dioxide levels" />
            <img src="monthch20.png"    alt="Formaldehyde Levels" />
            <img src="monthpm25.png"    alt="2.5 particulates" />
            <img src="monthuptime.png"    alt="uRADMonitor uptime" />
            <img src="monthvolt.png"       alt="uRADMonitor voltage" />
            <img src="monthtemp.png"    alt="uRADMonitor temperature" />
            <img src="monthhum.png"    alt="uRADMonitor humidity" />
            <img src="monthpressure.png"   alt="uRADMonitor pressure" />
          </div>
          <div id="history_year" class="plot_container" style="display:none">
            <img src="yearcpm.png"  alt="Radiation dosage level"/>
            <img src="yearvoc.png"        alt="Volatile organic compounds" />
            <img src="yearco2.png"       alt="Carbon dioxide levels" />
            <img src="yearch20.png"    alt="Formaldehyde Levels" />
            <img src="yearpm25.png"    alt="2.5 particulates" />
            <img src="yearuptime.png"    alt="uRADMonitor uptime" />
            <img src="yearvolt.png"       alt="uRADMonitor voltage" />
            <img src="yeartemp.png"    alt="uRADMonitor temperature" />
            <img src="yearhum.png"    alt="uRADMonitor humidity" />
            <img src="yearpressure.png"   alt="uRADMonitor pressure" />
          </div>
          <div id="history_dayrain" class="plot_container" style="display:none">
          </div>
          <div id="history_weekrain" class="plot_container" style="display:none">
          </div>
        </div>
      </div>
    </div>

    <p class="footnote">
         This weewx extension is available at github as <a href="https://github.com/glennmckechnie/weewx-uradmon">weewx-uradmon</a> : This is version $uradmon_version<br>
    </p>

</body>

</html>
